doctype html
html(lang='en')
  include common/head.pug
  +head("Leads MVP")
  body
    header
      include common/navbar.pug
      +navbar()
      .container
        .row
          .col-md-6.order-md-1.text-center.text-md-left.pr-md-5
            h1.mb-3 Leads management app
            p.lead This is an MVP version of a leads management web application.
            p.lead.mb-4 It is built on NodeJs, bootstrap, Sequelize and Postgresql.
            form(action="/", method="POST")
              .input-group.mb-3
                input(name="lead_email", type="email", placeholder="Enter your email address").form-control
                .input-group-append
                  button(type="submit").btn.btn-primary Get Started
    include common/footer.pug
    +footer()
    script(src='/javascripts/leads.js')
  
